<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackathought.wordcloud" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CloudPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CloudOfWords"
            android:label="@string/title_activity_word_cloud"
            android:parentActivityName=".CloudPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hackathought.wordcloud.CloudPage" />
        </activity>
        <activity
            android:name=".WordRepresentations"
            android:label="@string/title_activity_word_representations"
            android:parentActivityName=".CloudPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hackathought.wordcloud.CloudPage" />
        </activity>
    </application>

</manifest>
